{"filter":false,"title":".gitignore","tooltip":"/nannou_mikan/.gitignore","undoManager":{"mark":2,"position":2,"stack":[[{"start":{"row":39,"column":15},"end":{"row":40,"column":0},"action":"insert","lines":["",""],"id":2},{"start":{"row":40,"column":0},"end":{"row":41,"column":0},"action":"insert","lines":["",""]}],[{"start":{"row":41,"column":0},"end":{"row":41,"column":5},"action":"insert","lines":["/.env"],"id":3}],[{"start":{"row":39,"column":15},"end":{"row":40,"column":0},"action":"remove","lines":["",""],"id":4}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":39,"column":15},"end":{"row":39,"column":15},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1671108486907,"hash":"51a136b1d60f257d6c060d70d464b41326cc589a"}