{"filter":false,"title":".gitignore","tooltip":"/Bookers/.gitignore","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":0},"end":{"row":0,"column":1},"action":"insert","lines":["："],"id":2}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":1},"end":{"row":0,"column":1},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1665844786692,"hash":"deec61a8b3e674b6eff4740982f79de97cf37b0c"}